.save-status-icon {
  font-size: var(--asc-icon-size, 16px);
}

.save-status-icon.asc-saved {
  color: var(--asc-saved-color, #32cd32);
}

.save-status-icon.asc-pending {
  color: var(--asc-pending-color, #00bfff);
}
